.footer {
	height: 55px;
	background: #0067A3;
	flex: 1 100%;
	display: flex;
	align-items: center;
}
.footer-text {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	padding: 0 20px;
	color: #ffffff;
}
.footer-text:last-child {
	margin-left: auto;
}