.new-board-popup {
	position: absolute;
	width: 400px;
	height: 200px;
	left: calc(50% - 200px);
	top: 100px;
	background: #fff;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 5;
	box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.9);
	border-radius: 5px;
	padding: 20px;
}
.popup-title {
	font-weight: 500;
	font-size: 18px;
}
.popup-input {
	border: 2px solid #3ba7e6;
	width: 100%;
	border-radius: 5px;
	height: 32px;
	padding: 7px;
	font-size: 16px;
	text-align: center;
}
.popup-btn {
	color: #5E6C84;
	font-size: 18px;
	line-height: 30px;
	border: none;
	background: none;
	cursor: pointer;
}
.popup-btn:hover {
	color: #000;
}
.delete-board {
    cursor: pointer;
}
.delete-board:hover {
    color: #bebbbb;
}